* { margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

:root {
	--background: #111;
	--background-accent: rgb(50, 50, 50);
	--first: rgb(70, 82, 74);
	--second: rgb(200, 230, 213);
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--background);
	background-image: radial-gradient(circle at 1px 1px, var(--background-accent) 1px, transparent 0);
    background-size: 32px 32px;
}

.window-subject, .window-subject span {
	padding-bottom: 3px;
	font-size: 14px;
	font-family: "IBM Plex Mono";
	color: var(--second);
	width: fit-content;
}

.window-subject > .underlineF {
	width: 100%;
	height: 1px;
	background: var(--first);
}

.window-subject > .underlineS {
	width: 100%;
	margin-top: 3px;
	height: 1px;
	background: var(--first);
}

.LoadingScript {
	width: 100vw;
	height: 100vh;
	background: black;
	overflow: hidden;
}

.text-container {
	position: fixed;
	transition-duration: 10s;
	animation-name: stepUp;
	animation-duration: 10s;
}

@keyframes stepUp {
	from {
		top: 99%;
	}
	to {
		top: -5000px;
	}
}

.script-line {
	font-size: 14px;
	font-family: "IBM Plex Mono";
}

.LoadingBar {
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.load-bar {
}

.load-partial {
	width: 100%;
	border: 1px solid var(--first);
	border-radius: 3px;
	animation-name: expand;
	animation-duration: 6s;
	background: var(--second);
	height: 100%;
}

@keyframes expand {
	0% {
		width: 1%;
	}
	25% {
		width: 10%
	}
	95% {
		width: 95%
	}
	100% {
		width: 100%;
	}
}

.loading-text {
	color: var(--second);
	padding-bottom: 10px;
	font-size: 14px;
	font-family: "IBM Plex Mono";
}
.load-full {
	width: 800px;
	height: 20px;
	padding: 5px;
	border: 1px solid var(--first);
	display: flex;
	align-items: center;
	border-radius: 3px;
}

.loading-subtitle {
	text-align: right;
	color: var(--second);
	font-family: "IBM Plex Mono";
	font-size: 14px;
	padding-top: 10px;
}

.MainContainer {
	position: relative;
	border: 1px solid var(--first);
	border-radius: 3px;
	width: 1720px;
	height: 880px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
	animation-name: fade-in;
	animation-duration: 5s;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		margin-bottom: 200px;
	}
	50% {
		opacity: 0;
		margin-bottom: 100px;
	}
	100% {
		opacity: 1;
		transition: translateY(0);
		margin-bottom: 0;
	}
}
/*
 * Top Display
 */

.topDisplay {
	display: flex;
	height: 600px;
	padding: 10px;
	grid-gap: 10px;
}

/*
 * Skills
 */

.left-container {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

.SkillsContainer {
	border: 1px solid var(--first);	
	border-radius: 3px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 100%;
	height: fit-content;
}

.SkillsContainer h1 {
	text-align: center;
	font-family: "Orbitron";
	color: var(--second);
	font-size: 24px;
	margin-bottom: 10px;
}

.Skills {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

.Skill {
	font-family: "IBM Plex Mono";
	color: var(--second);
	font-size: 14px;
}

.ProgressBar {
	margin-top: 4px;
	height: 20px;	
	position: relative; display: flex;
	flex-direction: column;
	justify-content: center;
}

.exp-obtained {
	position: absolute;
	width: 100px;
	height: 2px;
	left: 5px;
	background: var(--second);
	z-index: 1;
}

.overall-exp {
	position: absolute;
	height: 20px;
	width: 100%;
	border: 1px solid var(--first);
	border-radius: 3px;
}

/*
 *
 */

.Clock {
	border: 1px solid var(--first);
	border-radius: 3px;
	padding: 10px;
	width: 375px;
	text-align: center;
	font-size: 64px;
	font-family: "Orbitron";
	color: var(--second);
}
/*
 * Main Screen
 */
	
.MainScreen {
	border: 1px solid var(--first);
	border-radius: 3px;
	padding: 20px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: minmax(0, 100%) auto;
	position: relative;
}

.main-screen-border {
	border-radius: 3px;
	width: 100%;
	height: 100%;
	padding: 6px;
	border: 1px solid var(--second);
}

.HelloWorld {
	grid-column: span 2;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.greeting {
	font-family: "IBM Plex Mono";
	color: var(--second);
	font-size: 18px;
}

.right-container {
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}
.Navigation {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	width: 375px;
	border: 1px solid var(--first);
	padding: 10px;
}

.NavButton {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

.NavButton * {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

ion-icon {
	color: var(--first) !important;
	font-size: 48px;
}

a *{
	color: var(--second);
}

a {
	font-family: "IBM Plex Mono";
	text-decoration: none;
}

a:hover {
	cursor: pointer;
}

ion-icon:hover {
	color: var(--second) !important;
}

.navName {
	margin-top: 4px;
}

.project-container {
	display: flex;
	justify-content: space-between;
	font-size: 14px;
}

.project-container:hover {
	background: gray;
	cursor: pointer;
}

.direct-links {
	display: flex;
	grid-gap: 50px;
	margin-right: 20px;
}

.direct-links a:hover {
	background: blue;
}

.project-detail {
	max-width: 400px;
	padding-left: 20px;
	display: flex;
	flex-direction: column;
	grid-gap: 10px;
}

.project-name, .project-info, .project-tech, .project-name span, .project-info span, .project-tech span {
	font-family: "IBM Plex Mono";
	font-size: 14px;
	color: var(--second);
}

.Keyboard {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.KeyboardKey {
	color: var(--second);
}
.Radar-Container {
	border: 1px solid var(--first);
	padding: 10px;
	position: relative;
	width: 375px;
	margin-left: auto;
	margin-right: auto;
}

.center-circle {
	height: 8px;
	width: 8px;
	background: var(--second);
	position: absolute;
	left: 50%;
	top: 50%;
	right: 50%;
	bottom: 50%;
	border-radius: 50%;
}
.sweep {
	position: absolute;	
}
.radar {
	position: relative;
  width: 248px; height: 248px;
  border-radius: 50%;
  box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.5),
    inset 0 0 0 1px hsla(0, 0%, 100%, 0.15);
  animation: pulse 3s infinite;
  margin: auto;
}

@keyframes pulse {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
.sweep {
  box-sizing: border-box;
  top: 16px; left: 16px;
  border-right: solid 1px hsla(0, 100%, 100%, 0.25);
  width: 108px; height: 108px;
  border-radius: 100% 0 0 0;
  transform-origin: 100% 100%;
  background: linear-gradient(50deg, rgba(34, 34, 34, 0) 56%, hsla(0, 100%, 100%, 1));
  animation: sweep 5s infinite linear;
}

@keyframes sweep { to { transform: rotate(360deg); } }

.bottomDisplay {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}
.keyboard-row {
	display: flex;
	justify-content: center;
}

.keyboard-row * {
	border: 1px solid var(--first);
	font-family: "IBM Plex Mono";
	font-size: 16px;
}

.KeyboardKey {
	min-height: 40px;
	padding: 10px 20px;
	border-radius: 3px;
	margin: 1px; 
}

/*
 * Animations or events
 */

.flash-key {
	background: rgba(255, 255, 255, 1);
}
