* { margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;
}

:root {
	--background: black;
	--background-accent: rgb(40, 40, 40);
	--first: red;
	--second: white;
}

.App {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: var(--background);
	background-image: radial-gradient(circle at 1px 1px, var(--background-accent) 1px, transparent 0);
    background-size: 32px 32px;
}

.MainContainer {
	position: relative;
	border: 1px solid var(--second);
	width: 1720px;
	height: 880px;
	display: flex;
	flex-direction: column;
	justify-content: space-between; 
}

/*
 * Top Display
 */

.topDisplay {
	display: flex;
	height: 100%;
	padding: 10px;
	grid-gap: 10px;
}

/*
 * Skills
 */
.SkillsContainer {
	border: 1px solid white;	
	display: flex;
	flex-direction: column;
	width: 300px;
	height: fit-content;
}

.ProgressBar {
	height: 20px;	
	position: relative; display: flex;
	flex-direction: column;
	justify-content: center;
}

.exp-obtained {
	position: absolute;
	width: 100px;
	height: 10px;
	background: blue;
	z-index: 1;
}
.overall-exp {
	position: absolute;
	height: 20px;
	width: 100%;
	background: red;
}

/*
 *
 */

.Clock {
	border: 1px solid white;
	text-align: center;
	font-size: 64px;
}
/*
 * Main Screen
 */

.MainScreen {
	border: 1px solid white;
	width: 100%;
	height: 100%;
}
/*
 * Keyboard
 */

.Project:hover {
	background: gray;
	cursor: pointer;
}
.Keyboard {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 10px;
}

.keyboard-row {
	display: flex;
	justify-content: center;
}

.keyboard-row * {
	border: 1px solid white;
	padding: 10px;
}

.KeyboardKey {
	padding: 10px 20px;
	border-radius: 3px;
	margin: 1px; 
}
/*
 * Animations or events
 */

.flash-key {
	background: rgba(255, 255, 255, 1);
}
